h2 {
    text-align: center;
}

.mainContainer {
    width: 80%;
    margin: 10px 10%;
    padding: 10px;
    background-color: aliceblue;
    box-shadow: 10px 10px 10px gray;
}

.menu {
    width: 18%;
    float: left;
}

.content {
    width: 78%;
    float: right;
    text-align: center;
}