.infoTable {
    margin: 20px auto;
    width: 90%;

    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    text-align: left;
    border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 0 0 0 10px #41342F;
    color: #452F21;
}

.editTextarea{
    width: 100%;
}

.infoTable th {
    padding: 10px 8px;
    background: white;
}

.infoTable th:first-child {
    border-top-left-radius: 20px;
}

.infoTable th:last-child {
    border-top-right-radius: 20px;
}

.tableWithClickableTrs tr:nth-child(n+2) {
    cursor: pointer;
}

.infoTable td {
    border-top: 10px solid #F2906B;
    padding: 8px;
    background: white;
}

/*последняя строка -> первый элемент*/
.infoTable tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}

/*последняя строка -> последний элемент*/
.infoTable tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}


