<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>main.java.Servlets.loginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>abiturientsServlet</servlet-name>
        <servlet-class>main.java.Servlets.abiturientsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>specialitiesServlet</servlet-name>
        <servlet-class>main.java.Servlets.specialitiesServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>facultiesServlet</servlet-name>
        <servlet-class>main.java.Servlets.facultiesServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>subjectsServlet</servlet-name>
        <servlet-class>main.java.Servlets.subjectsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>saverServlet</servlet-name>
        <servlet-class>main.java.Servlets.saverServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>getInfoServlet</servlet-name>
        <servlet-class>main.java.Servlets.getInfoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getInfoServlet</servlet-name>
        <url-pattern>/getInfo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>saverServlet</servlet-name>
        <url-pattern>/saver</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>subjectsServlet</servlet-name>
        <url-pattern>/subjects</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>facultiesServlet</servlet-name>
        <url-pattern>/faculties</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>abiturientsServlet</servlet-name>
        <url-pattern>/abiturients</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>specialitiesServlet</servlet-name>
        <url-pattern>/specialities</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthorisationFilter</filter-name>
        <filter-class>main.java.Filters.AuthorisationFilter</filter-class>
        <init-param>
            <param-name>active</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>AuthorisationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>